.addresses {
  width: 100%;
}

.address-wrapper {
  width: 100%;
}

.address-wrapper :global(.ant-radio-wrapper) {
  width: 100%;
}

.address-wrapper :global(.ant-radio-wrapper) > :last-child {
  flex: 1;
}

.address-wrapper > :not(:last-child) {
  margin-bottom: 12px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(240 242 245);
}

.address {
  display: flex;
  justify-content: space-between;
}

.left {
}

.user {
  font-size: 1rem;
  margin-bottom: 5px;
}

.name {
}

.phone {
  color: rgba(0, 0, 0, 0.54);
}

.divider {
  border-left: 1px solid rgba(0, 0, 0, 0.26);
  margin: 0 8px;
}

.detail {
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 5px;
}

.tags {
}
