.delivery-address__label {
  font-size: 1.15rem;
  font-weight: 500;
}

.delivery-address__info {
  margin-top: 15px;
}

.delivery-address__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actual-address {
  flex: 1;
  padding: 0 24px;
}

.address-name {
  font-weight: 500;
  font-size: 1rem;
}

.modal :global(.ant-modal-footer) {
  text-align: unset;
}

.modal :global(.ant-modal-footer) > :first-child {
  display: flex;
  justify-content: space-between;
}

.modal--editing :global(.ant-modal-footer) > :first-child {
  justify-content: flex-end;
}
