.header {
  position: fixed;
  z-index: 5;
  width: 100%;
  margin: 0 auto;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--viewport-max-width);
  margin: 0 auto;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  padding-right: 24px;
  color: inherit;
  white-space: nowrap;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  height: 40px;
}

.logo span {
  margin-left: 5px;
}

.menu {
  width: 100%;
  justify-content: flex-end;
}

.menu :nth-last-child(2) {
  padding-right: 0 !important;
}
